<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLN</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./script.js"></script>
</head>
<body>
    <header>
        <img src="./logo_ufcg.png"/>
        <h1>Processamento de Linguagem Natural</h1>
    </header>
    
    <section>
        <article class="chat">
            <div class="chat__container">
                <div class="bot">
                    <div class="bot__container">
                        <img src="./file.png" alt="" class="bot__img">
                        <div class="bot__response">
                            <div class="bot__name">
                                <p>Matheus Hensley:</p>
                            </div>
                            <p class="bot__name__response">aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaa aaaaaaaaaa a a a  aaaaaaaaaaa  a       aaaaaaaaaaaa  aaaaa aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaa aaaaaaaaaa a a a  aaaaaaaaaaa  a       aaaaaaaaaaaa  aaaaa aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaa aaaaaaaaaa a a a  aaaaaaaaaaa  a       aaaaaaaaaaaa  aaaaa</p>
                        </div>
                    </div>
                </div>
                
                <div class="user">
                    <div class="user__name">
                        <p>Você:</p>
                    </div>
                    <p class="user__response">aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaa aaaaaaaaaa a a a  aaaaaaaaaaa  a       aaaaaaaaaaaa  aaaaa aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaa aaaaaaaaaa a a a  aaaaaaaaaaa  a       aaaaaaaaaaaa  aaaaa aaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaa aaaaaaaaaa a a a  aaaaaaaaaaa  a       aaaaaaaaaaaa  aaaaa</p>
                </div>
            </div>
        </article>
        <article class="query__container">
            <input type="text" class="query" placeholder="Pergunta a música...">
        </article>
    </section>
</body>
</html>
